<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveServlet</servlet-name>
        <servlet-class>ReserveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatePicker</servlet-name>
        <servlet-class>DatePicker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dts</servlet-name>
        <servlet-class>Dts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>designservlet</servlet-name>
        <servlet-class>designservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAsExcel</servlet-name>
        <servlet-class>DownloadAsExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addstaffrole</servlet-name>
        <servlet-class>Addstaffrole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogin</servlet-name>
        <servlet-class>Adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutPage</servlet-name>
        <servlet-class>LogoutPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepwd</servlet-name>
        <servlet-class>Changepwd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/admin/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveServlet</servlet-name>
        <url-pattern>/ReserveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatePicker</servlet-name>
        <url-pattern>/DatePicker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dts</servlet-name>
        <url-pattern>/Dts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>designservlet</servlet-name>
        <url-pattern>/designservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAsExcel</servlet-name>
        <url-pattern>/DownloadAsExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addstaffrole</servlet-name>
        <url-pattern>/Addstaffrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogin</servlet-name>
        <url-pattern>/Adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutPage</servlet-name>
        <url-pattern>/LogoutPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepwd</servlet-name>
        <url-pattern>/Changepwd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
